@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import url("https://fonts.googleapis.com/css2?family=Birthstone");

@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@theme {
  --font-neue-montreal: PP Neue Montreal, sans-serif;
  --font-birthstone: Birthstone, cursive;

  --color-secondary: #d0b8ac;
}

@utility container {
  padding-inline: 15px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 25px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
}

body {
  @apply text-white bg-black;
}
.h1 {
  @apply font-birthstone text-[60px] md:text-7xl lg:text-9xl leading-12;
}
.h2 {
  @apply font-birthstone md:text-6xl text-5xl font-bold tracking-widest;
}
.h3 {
  @apply font-neue-montreal text-3xl font-bold tracking-wider;
}
.h4 {
  @apply font-neue-montreal text-2xl font-bold tracking-wider;
}

.p,
.span {
  @apply font-neue-montreal md:text-lg text-base;
}
