---
import { Icon } from "astro-iconify";
---

<article
  class="flex items-center flex-col gap-4 absolute top-1/2 -right-4 -translate-x-[60%] -translate-y-1/2 mt-[20px]"
>
  <div class="w-1 h-[200px] bg-secondary"></div>
  <Icon name="arcticons:instagram" size="48px" class="hover:scale-110" />
  <Icon name="arcticons:facebook" size="48px" class="hover:scale-110" />
  <div class="w-1 h-[200px] bg-secondary"></div>
</article>
