---
import arrow from "@/assets/arrow.png";
---

<section id="aboutUs" class="relative flex items-center justify-center py-20">
  <img src={arrow.src} alt="" class="absolute top-[145px] left-10" />
  <div class="container mx-auto">
    <article class="">
      <h2 class="h2 mb-5">Sobre Mi</h2>
      <p class="pl-20">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, minus
        esse. Minima dolorem maxime enim consequatur corporis laudantium cumque
        quos, assumenda soluta aspernatur libero totam voluptatem! Blanditiis ad
        nemo, eos ratione tenetur vel minima nam voluptatum quisquam ipsum,
        autem atque illum, aperiam sequi odit? Nihil a delectus sapiente
        excepturi ducimus?
      </p>
    </article>

    <!-- <article
      class="flex items-center flex-col gap-5 mt-10 [&>div]:flex-1 [&>div]:text-right [&>div]:py-5 [&>div]:px-2"
    >
      <div class="border-secondary border-r-2">
        <p class="text-secondary font-medium">+10 Años de</p>
        <h4 class="h4">Experiencia</h4>
      </div>
      <div class="border-secondary border-r-2">
        <p class="text-secondary font-medium">+450</p>
        <h4 class="h4">Clientes</h4>
      </div>
      <div class="border-secondary border-r-2">
        <p class="text-secondary font-medium">+10k</p>
        <h4 class="h4">Fotos</h4>
      </div>
    </article> -->
  </div>
</section>
